.z-index-fixed {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.vertical {
  margin: auto;
}

.smallerText {
  font-size: 0.85rem;
}

.smallText {
  font-size: 0.9rem;
}

.image-preview-div {
  height: 130px;
}

.image-preview-image {
  max-height: 100%;
}

.image-preview-card .card-body {
  padding-top: 0.1rem !important;
}

.switch-col {
  text-align: end;
}

.hidden {
  opacity: 0;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}

.min-vh-20 {
  min-height: 20vh;
}

.min-vh-60 {
  min-height: 60vh;
}
