.z-index-fixed {
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.vertical {
  margin: auto;
}

.smallerText {
  font-size: 0.85rem;
}

.image-preview-div {
  height: 130px;
}

.image-preview-image {
  max-height: 100%;
}

.image-preview-card .card-body {
  padding-top: 0.1rem !important;
}

.switch-col {
  text-align: end;
}
