.z-index-fixed{
  z-index: 1000;
  position: fixed;
  width: 100%;
}

.m-p{
  padding-left: 2%;
}
a{
  color: #2498d2;
}
a:hover{
  color: #094e6f;
}
.left-menu a.nav-link {
  color: #2498d2;
}

.left-menu a.nav-link:hover{
  color: #137689;
  //color: #145e69;
}

.left-menu a.nav-link.active{
  font-weight: 500;
}
.nav-item{
  font-size: 12pt;
}
.navbar-brand span.nav-letter{
  font-family: 'Abhaya Libre', serif;
  font-size: 19pt;
}
.navbar-brand{
  font-family: 'Abhaya Libre', serif;
  font-size: 16pt;
}
.vertical{
  margin: auto;
}
.smallerText{
  font-size: 0.85rem;
}
.smallText{
  font-size: 0.9rem;
}

.image-preview-div{
  height: 130px;
}
.image-preview-image{
  max-height: 100%;
}
.image-preview-card .card-body{
  padding-top: 0.1rem!important;
}

.image-div-tab{
  height: 180px;
}
.image-image-tab{
  height: 100%;
}
.photo-div {
  display: flex;
  justify-content: center;
  margin: auto;
}
.switch-col{
  text-align: end;
}
.hidden{
  opacity: 0;
}

.collapsed > .when-open,
.not-collapsed > .when-closed {
  display: none;
}
.min-vh-20{
  min-height: 20vh;
}
.min-vh-60{
  min-height: 60vh;
}

.min-vh-5{
  min-height: 5vh;
}